body{
    /*margen predetermiado*/
margin: 0%;
/*margen pa´dentro*/
padding: 0%;
/*tamaño de texto*/
font-size: 12px;
/*fuente de texco*/
font-family: Arial, Helvetica, sans-serif;
}



/*navgacion*/

header{
    background: color rgb(166, 177, 156);
    width:100% ;
    height: 55%;

}
header nav{
   
    /* como se puede mver el elemento*/
    display: flex;
    justify-content: flex-end;
}

header nav  .nav-right-section{
  
    /*eleminarviñetas*/
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*altura*/
    height: auto;
}

nav .nav-right-section a{
    /*color de texto*/
   color: rgb(21, 21, 21);
    /*decorar linea debajo*/
    text-decoration: none;
    margin-right: 25px;
    
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /*contiene a la imagen*/
    background-size:contain;
    background-repeat: no-repeat;

}
nav .nav-right-section img{
margin-left: 20px;
border-radius: 100px;
width: 35px;


}

/*************************************************/
/********************************************/
/***********************************/
/* Main */

main{
    text-align: center;
    margin-top: 160px;

}
main .main-logo{
    width: 530px;
    margin:0 auto ;
    margin-bottom: 40px;

}
main .main-logo img {
    height: 100px;
    
}
/*seccion input*/
main .main-input{
   
    width: 550px;
    margin: 0 auto;
    margin-bottom: 40px;

}
/*cajita gris redondeada*/
main .main-input-container{
   border: 1px solid #9fa3a9 ;
border-radius: 30px;
width: 525px;
display: flex;
justify-content: center;
align-items: center;

}
main .main-input input{

    height: 40px;
    width: 430px;
    /*quitar borde*/
    border: none;
    /*quitar borde azul*/
    outline: none;
}
main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 15px;
    height: 15px;
    padding-left: 6%;
    background-size: contain;
    background-repeat: no-repeat;
}

main .main-input .micro-icon{
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
   width: 17px;
   height: 17px;
   background-size: contain;
   background-position: center;
   padding-left: 1%;
   background-repeat: no-repeat;
}
main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right:6% ;
}

main .main-buttons{

    width: 550px;
    /*vertical/horizontal*/
    margin: 0% auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-button{
    border: 0;
    height: 40px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #5f6368;
    border-radius: 4px;
    margin-right: 15px;
    padding: 0 15px;
}
/*nos permite agregarle al diseño al poner el cursor */
main .main-input-container:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-color: #dfe1e500;

}
main .main-buttons button:hover{
    color: #202124 ;
    /* ancho de linea-estilo de linea-color*/
    border: 1px solid #dadce0 ;
    box-shadow:0 1px rgba(0,0,0,.1)

}
footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 12px;
    background-color: #ffffff;
    border-top: 1px solid #f6f6f6;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left:0;
}

.footer-left {
    justify-self: left;
}

.footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
}

